<%- include('templates/header', {title}) %>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, magnam. Fugit, eius autem sapiente tempore alias vel dolorem earum suscipit enim. Doloremque soluta officia voluptas libero aut nisi iste eaque.</p>

<%- include('templates/footer') %>